body{
    background-image: url("https://wallpaperaccess.com/full/1540024.jpg");
}

h1, h4 {
    color: rgb(196, 209, 236);
    text-align: center;
}

h3{
    color: rgb(3, 23, 66);
    text-align: center;
}

.container{
    display: flex;
    padding: 20px;
}

.card {
    background-color:rgb(196, 209, 236);
    padding: 45px;
    margin: 20px;
}